@page "/new"
<h1>Add new Contact</h1>

<div class="formContact">
    <EditForm Model="@user" OnValidSubmit="addUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="inputForm">
            <label class="labelForm" for="name">Enter name</label>
            <InputText class="inputField"  id="name" @bind-Value="user.Name" />
        </div>
        <div class="inputForm">
            <label class="labelForm" for="number">Enter number</label>
            <InputText class="inputField" id="number" @bind-Value="user.Number" />
        </div>
        <div class="inputForm">
            <label class="labelForm" for="email">Enter email</label>
            <InputText class="inputField" id="email" @bind-Value="user.Email" />
        </div>
        <div class="btnMother">
            <button class="btnSubmit" type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@if (putMessage != "")
{
    <div class="addContactText">
        <h5>@putMessage Added</h5>
    </div>
}

@code {
    User user = new User();
    UserDAO dAO = new UserDAO();
    String putMessage = "";

    void addUser()
    {
        dAO.saveUser(user);
        putMessage = user.Name;
        user = new User();
    }
}
