@page "/new"
<h1 style="text-align: center">Add new Contact</h1>

<div style="margin-left:40px;">
    <EditForm Model="@user" OnValidSubmit="addUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label style="width:100px" for="name">Enter name</label>
            <InputText id="name" @bind-Value="user.Name" />
        </div>
        <div>
            <label style="width:100px" for="number">Enter number</label>
            <InputText id="number" @bind-Value="user.Number" />
        </div>
        <div>
            <label style="width:100px" for="email">Enter email</label>
            <InputText id="email" @bind-Value="user.Email" />
        </div>
        <button style="width:fit-content" type="submit">Submit</button>
    </EditForm>
</div>

    @if (putMessage != "")
    {
        <h5 style="text-align: center">@putMessage Added</h5>
    }

@code {
    User user = new User();
    UserDAO dAO = new UserDAO();
    String putMessage = "";

    void addUser()
    {
        dAO.saveUser(user);
        putMessage = user.Name;
        user = new User();
    }
}
