@page "/card"
<h3>Card</h3>
<RadzenCard Style="width:500px; margin-bottom: 20px; height:450px;">
    <div class="row">
        <div class="col-md-6">
            <div>Id:</div>
            <b>@user.Id</b>
            <div style="margin-top:20px">Name</div>
            <b>@user.Name</b>
                <RadzenImage Path="https://www.pixsy.com/wp-content/uploads/2021/04/ben-sweet-2LowviVHZ-E-unsplash-1.jpeg" 
                             Style="width:400px; margin-top:20px;" />
        </div>
        <div class="col-md-6">
            <div>Number:</div>
            <b>@user.Number</b>
            <div style="margin-top:20px">Email:</div>
            <b>@user.Email</b>
        </div>
    </div>
</RadzenCard>
@code {
    User user = new User();
    UserDAO dAO = new UserDAO();
    protected override void OnInitialized()
    {
        user = dAO.getUserForEditing(17);
    }
}
