@page "/"
@inject NavigationManager NavigationManager

<h1 style="text-align: center; margin-bottom:20px;">Contact</h1>

<RadzenDataGrid AllowColumnResize="true" PageSize="7" AllowPaging="true" Data="@users" TItem="User" ColumnWidth="300px">
    <Columns>
        <RadzenDataGridColumn TItem="User" Property="Name" Filterable="false" Title="Name"  Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="Number" Filterable="false" Title="Number"  Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="Email" Filterable="false" Title="Email"  Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="Id" Filterable="false"  Width="50px" TextAlign="TextAlign.Center">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click=@(() =>editUser(data.Id))  Text="Edit" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="User" Property="Id"  Width="50px">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click=@(() => removeUser(data.Id))  Text="Remove" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    UserDAO dAO = new UserDAO();
    List<User> users = new List<User>();

    protected override void OnInitialized()
    {
        users = dAO.takeListOfUser();
    }

    void editUser(int id)
    {
        NavigationManager.NavigateTo("/useredit/" + id.ToString());
    }

    void removeUser(int id)
    {
        dAO.removeUser(id);
        users.Clear();
        users = dAO.takeListOfUser();
    }
}