@page "/useredit/{Id}"
@inject NavigationManager NavigationManager
<h3>Edit contact</h3>

<EditForm Model="@user" OnValidSubmit="updateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label style="width:100px" for="name">Enter name</label>
        <InputText id="name" @bind-Value="user.Name" />
    </div>
    <div>
        <label style="width:100px" for="number">Enter number</label>
        <InputText id="number" @bind-Value="user.Number" />
    </div>
    <div>
        <label style="width:100px" for="email">Enter email</label>
        <InputText id="email" @bind-Value="user.Email" />
    </div>
    <button style="width:fit-content" type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public String Id { set; get; }
    private User user = new User();
    UserDAO dAO = new UserDAO();

    private void updateUser()
    {
        dAO.updateContact(Int32.Parse(Id), user);
        NavigationManager.NavigateTo("/");
    }
}
