@page "/useredit/{Id}"
@inject NavigationManager NavigationManager
<h1 style="text-align: center">Edit contact</h1>

<EditForm Model="@user" OnValidSubmit="updateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label style="width:100px" for="name">Enter name</label>
        <InputText id="name"  @bind-Value="user.Name" />
    </div>
    <div>
        <label style="width:100px" for="number">Enter number</label>
        <InputText id="number"  @bind-Value="user.Number" />
    </div>
    <div>
        <label style="width:100px" for="email">Enter email</label>
        <InputText id="email"  @bind-Value="user.Email" />
    </div>
    <button style="width:fit-content" type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public String Id { set; get; }
    User user = new User();
    UserDAO dAO = new UserDAO();


    protected override void OnInitialized()
    {
        user = dAO.getUserForEditing(Int32.Parse(Id));
    }
    void updateUser()
    {
        dAO.updateUser(user);
        NavigationManager.NavigateTo("/");
    }
}
