@page "/useredit/{Id}"
@inject NavigationManager NavigationManager
<h1 style="text-align: center">Edit contact</h1>

<div class="formContact">
    <EditForm Model="@user" OnValidSubmit="updateUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="inputForm">
            <label class="labelForm" for="name">Enter name</label>
            <InputText id="name" @bind-Value="user.Name" />
        </div>
        <div class="inputForm">
            <label class="labelForm" for="number">Enter number</label>
            <InputText id="number" @bind-Value="user.Number" />
        </div>
        <div class="inputForm">
            <label class="labelForm" for="email">Enter email</label>
            <InputText id="email" @bind-Value="user.Email" />
        </div>
        <div class="btnMother">
            <button class="btnSubmit" type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public String Id { set; get; }
    User user = new User();
    UserDAO dAO = new UserDAO();


    protected override void OnInitialized()
    {
        user = dAO.getUserForEditing(Int32.Parse(Id));
    }
    void updateUser()
    {
        dAO.updateUser(user);
        NavigationManager.NavigateTo("/");
    }
}
